
<div class="d-flex justify-content-center">
    <form class="form-control w-25 mt-5">
        <div class="image text-center">
            <img [src]="image" alt="" height="100px" width="100px" class="border rounded-circle">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn w-100 btn-success">Login</button>
        <div class="option d-flex justify-content-between mt-2 fw-bold">
            <p>signup</p>
            <p>Forget?</p>
        </div>
      </form>
</div>