<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar px-4">
        <div class="container-fluid border-bottom border-dark">
          <a class="navbar-brand">parametre <span><i class="fa-solid fa-caret-down text-success"></i></span></a>
          <div class="admin">
            <h5 class="rounded-circle text-bg-success p-2">MC</h5>
          </div>
        </div>
      </nav>
</body>
</html>
