<aside>
    <ul class="list-unstyled bg-success text-white vh-100 d-flex flex-column align-items-center pt-4">
        <li class="list-items my-3">
          <i class="fas fa-home fa-2x"></i> 
        </li>
        <li class="list-items my-3">
          <i class="fas fa-car fa-2x"></i> 
        </li>
        <li class="list-items my-3">
            <i class="fa-regular fa-clock fa-2x"></i>
        </li>
        <li class="list-items my-3">
            <i class="fa-solid fa-circle-plus fa-2x"></i>
        </li>
        <li class="list-items my-3">
          <i class="fas fa-user fa-2x"></i> 
        </li>
        <li class="list-items my-3">
          <i class="fas fa-cog fa-2x"></i> 
        </li>
      </ul>
</aside>